# SQLite数据库
### 利用SQLAlchemy创建数据库连接
+ 利用SQLAlchemy的第一步和使用其他的驱动类似，都要创建一个连接

In [1]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://',encoding="UTF-8",echo=False)
print(engine.driver)
print(engine.name,engine.dialect)#engine.name是engine.dialect的名称
print(engine.table_names())#列出数据库中的所有表

pysqlite
sqlite <sqlalchemy.dialects.sqlite.pysqlite.SQLiteDialect_pysqlite object at 0x000001C73690C308>
[]

    上面创建了一个Engine的实例和一个使用UTF-8编码的内存数据库，Engine是SQLAlchemy应用的起点，管理数据库的连接和SQL的执行
    如果需要创建一个磁盘数据库，只需要指定一个路径就可以，如create_engine('sqlite:////absolute/path/to/foo.db'),echo参数为True时，会显示每条执行的SQL语句

In [12]:
#上面的驱动默认采用的就是pysqlite
engine.execute('create table test(id int,name varchar(20));')#创建表
print(engine.table_names())
engine.execute('insert into test values(1,"Tom");')
engine.execute('insert into test values(2,"Lucy");')#插入数据
res = engine.execute('select * from test;')
for i in res:
    print(i)
res.close()
#engine.execute('drop table test1;')

['test']
(1, 'Tom')
(2, 'Lucy')

In [14]:
engine.execute('drop table test;')#删除表
print(engine.table_names())

[]

## 创建映射模型
1. 使用ORM时，首先要定义模型，SQLAlchemy会根据模型自动创建需要的数据库表

In [17]:
from sqlalchemy import Column
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.types import Integer,String

#创建一个所有模型的基类
BaseModel = declarative_base()
#定义自己的模型
class User(BaseModel):
    __tablename__ = 'user'
    id = Column(Integer,primary_key=True)#默认autoincrement=True
    name = Column(String(50))
    
    def __init__(self,_id,name):
        self.id = _id
        self.name = name
        
    def __str__(self):
        return str(self,id)+':'+str(self.name)
    
    def __repr__(self):
        return '<User(%d,%s)>'%(self.id,self.name)
#创建所有模型对应的数据库表
BaseModel.metadata.create_all(engine)
print(engine.table_names())
print(engine.execute('pragma table_info('+User.__tablename__+')').fetchall())

['user']
[(0, 'id', 'INTEGER', 1, None, 1), (1, 'name', 'VARCHAR(50)', 0, None, 0)]

## 创建会话

In [18]:
from sqlalchemy.orm import sessionmaker
DB_Session = sessionmaker(bind=engine)
session = DB_Session()

## 插入数据

In [21]:
session.execute('delete from user;')#清空数据表user
user1 = User(1,'Tom')
user2 = User(2,'Lucy')
user3 = User(3,'Lily')
session.add(user1)#插入一条数据
session.add_all([user2,user3])#批量插入

session.flush()#将改动写到磁盘
print(session.execute('select * from user;').fetchall())

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: user.id
[SQL: INSERT INTO user (id, name) VALUES (?, ?)]
[parameters: ((1, 'Tom'), (1, 'Tom'), (1, 'Tom'), (2, 'Lucy'), (3, 'Lily'))]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
session.execute('delelte from ')

# 第三次作业的pymysql与sqlalchemy

In [7]:
import pymysql#连接数据库
conn = pymysql.connect(host='127.0.0.1',user = 'root',passwd='123456',port = 3306,db = '',charset='utf8')

In [8]:
cursor = conn.cursor()#创建游标
#sql = "select * from user"
sql = "insert into username(id,name) values(%s,%s)"
cursor.execute(sql,[3,'王五'])
cursor.execute(sql,[4,'张三'])
#数据单独赋给一个对象
sql = "insert into username values(%s,%s)"
data = (5,'小七')
cursor.execute(sql,data)
conn.commit()#提交修改
cursor.close()#关闭游标
conn.close()#关闭连接

InternalError: (1046, 'No database selected')

In [1]:
import requests
import time
#设置请求头，伪装为浏览器
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.149 Safari/537.36'}
url = "https://api.inews.qq.com/newsqa/v1/automation/foreign/country/ranklist"
r = requests.post(url,headers = headers)

In [2]:
print(r.status_code)
print(len(r.text))
print(type(r.text))

200
42230
<class 'str'>

In [3]:
import json
data_json = json.loads(r.text)#将发现的数据转化为类似字典的json格式
data_json.keys()

dict_keys(['ret', 'info', 'data'])

In [5]:
data = data_json['data']#取出json中的数据，data为列表，存储着数据
type(data)

list

In [6]:
data[0]

{'name': '美国',
 'continent': '北美洲',
 'date': '03.29',
 'isUpdated': True,
 'confirmAdd': 16917,
 'confirmAddCut': 0,
 'confirm': 121132,
 'suspect': 0,
 'dead': 2016,
 'heal': 961,
 'nowConfirm': 118155,
 'confirmCompare': 16293,
 'nowConfirmCompare': 15901,
 'healCompare': 92,
 'deadCompare': 300}

In [7]:
import pandas as pd
pd.DataFrame(data).head(5)

,name,continent,date,isUpdated,confirmAdd,confirmAddCut,confirm,suspect,dead,heal,nowConfirm,confirmCompare,nowConfirmCompare,healCompare,deadCompare
0,美国,北美洲,03.29,True,16917,0,121132,0,2016,961,118155,16293,15901,92,300
1,意大利,欧洲,03.29,True,5974,0,92472,0,10023,12384,70065,5974,3651,1434,889
2,西班牙,欧洲,03.29,True,7513,0,73232,0,5982,12285,54965,984,-2236,2928,292
3,德国,欧洲,03.29,True,6824,0,57695,0,433,8481,48781,4355,2498,1823,34
4,法国,欧洲,03.29,True,4161,0,37575,0,2314,5700,29561,4161,3842,0,319

In [13]:
new_data = pd.DataFrame(data)[['name','confirmAdd','confirm','heal','dead']]
new_data.head(10)

  name  confirmAdd  confirm   heal   dead
0   美国       16917   121132    961   2016
1  意大利        5974    92472  12384  10023
2  西班牙        7513    73232  12285   5982
3   德国        6824    57695   8481    433
4   法国        4161    37575   5700   2314
5   伊朗        3076    35408  11679   2517
6   英国        2510    17089    151   1019
7   瑞士        1148    14076   1530    264
8   荷兰        1159     9819   2500    640
9   韩国         105     9583   4811    144

In [23]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine
#初始化数据库连接，使用pymysql模块
conn = create_engine('mysql+pymysql://root:123456@localhost:3306/mydb',encoding='utf8')
#写入数据，表名为abroad_data,'replace'表示如果同名表存在就替换
new_data.to_sql("abroad_data",conn,if_exists='replace',index=False)

### pymysql
+ 请抓取腾讯网上公布的海外当日新冠肺炎疫情数据（包括国别、新增确诊、累计确诊、累计治愈、累计死亡）,用 pymysql 库保存到 mysql 数据库中。
+ 删除累计确诊数少于1000的，然后按累计确诊数从大到小进行排序。
+ 请将中国的数据增加入表，然后按新增确诊数从大到小进行排序。

In [24]:
#打开数据库连接
db = pymysql.connect(host = '127.0.0.1',
                    port = 3306,
                    user = 'root',
                    passwd = '123456',
                    db = 'mydb',
                    charset = 'utf8')
#使用cursor()创建一个游标对象
cursor = db.cursor()
#删除累计确证数少于1000
sql_1 = "DELETE FROM abroad_data WHERE confirm < '%d'"%(1000)
#按照累计确诊数从大到小排序
sql_2 = "SELECT * FROM abroad_data ORDER BY confirm DESC"
try:
    cursor.execute(sql_1)#执行SQL语句
    db.commit()#提交到数据库执行
    cursor.execute(sql_2)#执行SQL语句
    db.commit()#提交到数据库执行
except:
    db.rollback()#发生错误时回滚

db.close()#关闭数据库连接

In [25]:
#打开数据库连接
db = pymysql.connect(host = '127.0.0.1',
                    port = 3306,
                    user = 'root',
                    passwd = '123456',
                    db = 'mydb',
                    charset = 'utf8')
#使用cursor()创建一个游标对象
cursor = db.cursor()
#将中国的数据插入到表中
sql_3 = "INSERT INTO abroad_data(name,confirmAdd,confirm,heal,dead) VALUES('中国',45,82341,75600,3306)"
#按新增确诊数从大到小进行排序
sql_4 = "SELECT * FROM abroad_data ORDER BY confirmAdd DESC"
try:
    cursor.execute(sql_3)#执行SQL语句
    db.commit()#提交到数据库执行
    cursor.execute(sql_4)#SQL语句
    db.commit()#提交到数据库执行
except:
    db.rollback()#发生错误时回滚
    
db.close()#关闭数据库

### sqlalchemy
+ 请抓取腾讯网上公布的我国近三个月的新冠肺炎疫情数据（包括累计确诊、累计治愈、累计死亡、现有确诊、现有重症、境外输入），用 sqlalchemy 保存到 mysql 数据库中。
+ 请完成按省的统计结果

In [27]:
import requests
#设置请求头，伪装为浏览器
headers = {'user-agent':"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.149 Safari/537.36"}

#发起请求，将找到的第一个数据源作为请求目标
url = 'https://c.m.163.com/ug/api/wuhan/app/data/list-total?t=317089162038'
r = requests.get(url,headers = headers)
print(r.status_code)

import json
data_json = json.loads(r.text)
data_json.keys()

200

dict_keys(['reqId', 'code', 'msg', 'data', 'timestamp'])

In [28]:
data = data_json['data']
data.keys()

dict_keys(['chinaTotal', 'chinaDayList', 'lastUpdateTime', 'areaTree'])

In [29]:
print(type(data['chinaDayList']))
data['chinaDayList'][0]

<class 'list'>

{'date': '2020-01-20',
 'today': {'confirm': 291,
  'suspect': 27,
  'heal': 25,
  'dead': 6,
  'severe': 0,
  'storeConfirm': None},
 'total': {'confirm': 291, 'suspect': 54, 'heal': 25, 'dead': 6, 'severe': 0},
 'lastUpdateTime': None}

In [39]:
one_data = data['chinaDayList']
one_data[0]

{'date': '2020-01-20',
 'today': {'confirm': 291,
  'suspect': 27,
  'heal': 25,
  'dead': 6,
  'severe': 0,
  'storeConfirm': None},
 'total': {'confirm': 291, 'suspect': 54, 'heal': 25, 'dead': 6, 'severe': 0},
 'lastUpdateTime': None}

In [35]:
for i in range(len(one_data)):
    print(one_data[i]['date'],one_data[i]['today'])
    if i ==5 :
        break

2020-01-20 {'confirm': 291, 'suspect': 27, 'heal': 25, 'dead': 6, 'severe': 0, 'storeConfirm': None}
2020-01-21 {'confirm': 149, 'suspect': 26, 'heal': 0, 'dead': 3, 'severe': 0, 'storeConfirm': None}
2020-01-22 {'confirm': 131, 'suspect': 257, 'heal': 3, 'dead': 8, 'severe': 0, 'storeConfirm': None}
2020-01-23 {'confirm': 259, 'suspect': 680, 'heal': 6, 'dead': 8, 'severe': 0, 'storeConfirm': None}
2020-01-24 {'confirm': 457, 'suspect': 1118, 'heal': 4, 'dead': 16, 'severe': 0, 'storeConfirm': None}
2020-01-25 {'confirm': 688, 'suspect': 1309, 'heal': 11, 'dead': 15, 'severe': 0, 'storeConfirm': None}

In [42]:
base = pd.DataFrame(one_data)[['date']]
base.head()

         date
0  2020-01-20
1  2020-01-21
2  2020-01-22
3  2020-01-23
4  2020-01-24

In [45]:
total_data = pd.DataFrame(date['total'] for date in one_data)
total_data.head()

   confirm  suspect  heal  dead  severe
0      291       54    25     6       0
1      440       37    25     9     102
2      571      393    28    17      95
3      830     1072    34    25     177
4     1287     1965    38    41     237

In [58]:
today_data = pd.DataFrame(date['today'] for date in one_data)
today_data.head()

   confirm  suspect  heal  dead  severe storeConfirm
0      291       27    25     6       0         None
1      149       26     0     3       0         None
2      131      257     3     8       0         None
3      259      680     6     8       0         None
4      457     1118     4    16       0         None

In [59]:
today_data.columns = ['today_'+i for i in today_data.columns]
today_data.head()

,today_confirm,today_suspect,today_heal,today_dead,today_severe,today_storeConfirm
0,291,27,25,6,0,None
1,149,26,0,3,0,None
2,131,257,3,8,0,None
3,259,680,6,8,0,None
4,457,1118,4,16,0,None

In [60]:
total_data = pd.DataFrame(date['total'] for date in one_data)
total_data.head()

   confirm  suspect  heal  dead  severe
0      291       54    25     6       0
1      440       37    25     9     102
2      571      393    28    17      95
3      830     1072    34    25     177
4     1287     1965    38    41     237

In [62]:
total_data.columns = ['total_'+i for i in total_data.columns]
total_data.head()

   total_confirm  total_suspect  total_heal  total_dead  total_severe
0            291             54          25           6             0
1            440             37          25           9           102
2            571            393          28          17            95
3            830           1072          34          25           177
4           1287           1965          38          41           237

In [67]:
data_1 = pd.concat([base,today_data,total_data],axis = 1)
data_1.head()

,date,today_confirm,today_suspect,today_heal,today_dead,today_severe,today_storeConfirm,total_confirm,total_suspect,total_heal,total_dead,total_severe
0,2020-01-20,291,27,25,6,0,None,291,54,25,6,0
1,2020-01-21,149,26,0,3,0,None,440,37,25,9,102
2,2020-01-22,131,257,3,8,0,None,571,393,28,17,95
3,2020-01-23,259,680,6,8,0,None,830,1072,34,25,177
4,2020-01-24,457,1118,4,16,0,None,1287,1965,38,41,237

# 每日数据的存储

In [78]:
def get_data(data,info_list):
    info = pd.DataFrame(data)[info_list]#主要信息
    
    today_data = pd.DataFrame([i['today'] for i in data])
    today_data.columns = ['today_'+i for i in today_data.columns]
    
    total_data = pd.DataFrame([i['total'] for i in data])
    total_data.columns = ['total_'+i for i in total_data.columns]
    
    return pd.concat([info,today_data,total_data],axis = 1)

data_2 = get_data(one_data,['date'])

In [79]:
new_data = pd.DataFrame(data_2)[['date','total_confirm','total_heal','total_dead','today_confirm','today_severe']]
new_data.head()

,date,total_confirm,total_heal,total_dead,today_confirm,today_severe
0,2020-01-20,291,25,6,291,0
1,2020-01-21,440,25,9,149,0
2,2020-01-22,571,28,17,131,0
3,2020-01-23,830,34,25,259,0
4,2020-01-24,1287,38,41,457,0

In [70]:
from sqlalchemy import create_engine
#初始连接数据库
conn_1 = create_engine('mysql+pymysql://root:123456@localhost:3306/mydb')
#建立表nation_data
new_data.to_sql("nation_data",conn_1,if_exists='replace',index=False)

# 各省数据

In [75]:
data_province = data['areaTree'][2]['children']#取出各省的实时数据
info = pd.DataFrame(data_province)[['id','lastUpdateTime','name']]#取出非字典形式的数据
#将提取数据的方法封装为函数
def get_data(data,info_list):
    info = pd.DataFrame(data)[info_list]#主要信息
    
    today_data = pd.DataFrame([i['today'] for i in data])
    today_data.columns = ['today_'+i for i in today_data.columns]
    
    total_data = pd.DataFrame([i['total'] for i in data])
    total_data.columns = ['total_'+i for i in total_data.columns]
    
    return pd.concat([info,today_data,total_data],axis = 1)

In [76]:
today_province = get_data(data_province,['id','lastUpdateTime','name'])
today_province.head()

,id,lastUpdateTime,name,today_confirm,today_suspect,today_heal,today_dead,today_severe,today_storeConfirm,total_confirm,total_suspect,total_heal,total_dead,total_severe
0,420000,2020-03-29 08:13:23,湖北,0,NaN,467,5,NaN,None,67801,0,62565,3182,0
1,440000,2020-03-29 09:06:54,广东,8,NaN,8,0,NaN,None,1475,0,1349,8,0
2,410000,2020-03-29 08:31:33,河南,1,NaN,0,0,NaN,None,1276,0,1251,22,0
3,330000,2020-03-29 09:01:36,浙江,3,NaN,0,0,NaN,None,1254,0,1225,1,0
4,430000,2020-03-29 08:27:32,湖南,0,NaN,0,0,NaN,None,1018,0,1014,4,0

In [77]:
from sqlalchemy import create_engine
#初始连接数据库
conn_1 = create_engine('mysql+pymysql://root:123456@localhost:3306/mydb')
#建立表province_data
today_province.to_sql("province_data",conn_1,if_exists='replace',index=False)