In [4]:
import numpy as np
import pandas as pd

data = pd.read_csv('./data.csv')
data['人均GDP']=data['GDP(亿元)']/data['人口(万人)']
data

           省  人口(万人)   GDP(亿元)  电力消耗(亿千瓦小时)  土地面积(万平方千米)      人均GDP
0        北京市    2154  30319.98      1142.38         1.68  14.076128
1        天津市    1560  18809.64       861.44         1.13  12.057462
2        河北省    7556  36010.27      3665.66        18.77   4.765785
3        山西省    3718  16818.11      2160.53        15.63   4.523429
4     内蒙古自治区    2534  17289.22      3353.44       118.30   6.822897
5        辽宁省    4359  25315.35      2302.38        14.59   5.807605
6        吉林省    2704  15074.62       750.57        18.74   5.574933
7       黑龙江省    3773  16361.62       973.88        45.48   4.336501
8        上海市    2424  32679.87      1566.66         0.63  13.481795
9        江苏省    8051  92595.40      6128.27        10.26  11.501105
10       浙江省    5737  56197.15      4532.82        10.20   9.795564
11       安徽省    6324  30006.82      2135.07        13.97   4.744911
12       福建省    3941  35804.04      2313.82        12.13   9.085014
13       江西省    4648  21984.78      1428.77        16.70   4.729944
14       山东省   10047  76469.67      5916.77        15.38   7.611194
15       河南省    9605  48055.86      3417.68        16.70   5.003213
16       湖北省    5917  39366.55      2071.43        18.59   6.653127
17       湖南省    6899  36425.78      1745.24        21.18   5.279864
18       广东省   11346  97277.77      6323.35        18.00   8.573750
19   广西壮族自治区    4926  20352.51      1702.75        23.60   4.131650
20       海南省     934   4832.05       326.78         3.40   5.173501
21       重庆市    3102  20363.19      1114.47         8.23   6.564536
22       四川省    8341  40678.13      2459.49        48.14   4.876889
23       贵州省    3600  14806.45      1482.12        17.60   4.112903
24       云南省    4830  17881.12      1679.08        38.33   3.702095
25     西藏自治区     344   1477.63        69.02       122.80   4.295436
26       陕西省    3864  24438.32      1594.17        20.56   6.324617
27       甘肃省    2637   8246.07      1289.52        45.44   3.127065
28       青海省     603   2865.23       738.34        72.23   4.751625
29   宁夏回族自治区     688   3705.18      1064.85         6.64   5.385436
30  新疆维吾尔自治区    2487  12199.08      2138.33       166.00   4.905139

In [9]:
import pandas as pd
f = pd.read_csv('./成绩.csv',index_col='姓名')
f

      总成绩  科目数   平均成绩  是否挂科
姓名
李傲    903   13  69.46   NaN
杜秋玥  1177   14  84.07   NaN
王颖欢  1178   14  84.14   NaN
李泊宁  1048   13  80.62   NaN
王梦瑶  1204   13  92.62   NaN
文鸿宇  1203   14  85.93   NaN
吴豪   1210   14  86.43   NaN
曾冰雪  1106   13  85.08   NaN
陈亮   1139   13  87.62   NaN
陈圣卿  1148   13  88.31   NaN
蒯志炎  1113   12  92.75   NaN
陶泽林  1261   14  90.07   NaN
汪乐   1086   14  77.57   NaN
张海洋  1118   14  79.86   NaN
周正   1061   14  75.79   NaN
蔡俊宇  1010   13  77.69   NaN
管中放  1136   14  81.14   NaN
毛宇   1157   13  89.00   NaN
徐瑾怡  1202   13  92.46   NaN
蔡博臣  1161   14  82.93   NaN
蔡泽宇  1163   14  83.07   NaN
曹军   1190   14  85.00   NaN
李睿   1017   14  72.64   NaN
夏格馨  1173   14  83.79   NaN
张谦   1023   13  78.69   NaN
朱歆宇  1234   14  88.14   NaN
喻洁   1216   14  86.86   NaN
付明炀  1191   14  85.07   NaN
黄利英  1253   14  89.50   NaN
张欣   1190   13  91.54   NaN
孙聪   1053   13  81.00   NaN
黄家鑫  1197   14  85.50   NaN
徐洋   1107   12  92.25   NaN
徐梓涵  1206   14  86.14   NaN
陈孝澳  1013   13  77.92   NaN
李媛   1215   14  86.79   NaN
吕志   1079   12  89.92   NaN
马紫阳  1038   13  79.85   NaN
王锐    935   12  77.92   NaN
王泽毅  1066   12  88.83   NaN
高琪   1198   14  85.57   NaN
范雪峰  1096   14  78.29   NaN
王一璠  1224   14  87.43   NaN
王浩波  1080   13  83.08   NaN
付豪   1037   13  79.77   NaN
李禹   1273   14  90.93   NaN
吴佳睿   993   14  70.93   NaN
李樊鹏  1047   13  80.54   NaN
孙泽   1259   14  89.93   NaN
郭佳淇   811   12  67.58   NaN
刘舜尧   980   13  75.38   NaN
王璞   1049   13  80.69   NaN
范鑫烽  1007   13  77.46   NaN
王愉   1171   14  83.64   NaN
向天琪  1018   13  78.31   NaN
李彩云  1258   14  89.86   NaN
夏钰   1095   13  84.23   NaN
张唯一  1116   13  85.85   NaN
刘洋   1099   12  91.58   NaN

In [10]:
a=f['平均成绩']
a

姓名
李傲     69.46
杜秋玥    84.07
王颖欢    84.14
李泊宁    80.62
王梦瑶    92.62
文鸿宇    85.93
吴豪     86.43
曾冰雪    85.08
陈亮     87.62
陈圣卿    88.31
蒯志炎    92.75
陶泽林    90.07
汪乐     77.57
张海洋    79.86
周正     75.79
蔡俊宇    77.69
管中放    81.14
毛宇     89.00
徐瑾怡    92.46
蔡博臣    82.93
蔡泽宇    83.07
曹军     85.00
李睿     72.64
夏格馨    83.79
张谦     78.69
朱歆宇    88.14
喻洁     86.86
付明炀    85.07
黄利英    89.50
张欣     91.54
孙聪     81.00
黄家鑫    85.50
徐洋     92.25
徐梓涵    86.14
陈孝澳    77.92
李媛     86.79
吕志     89.92
马紫阳    79.85
王锐     77.92
王泽毅    88.83
高琪     85.57
范雪峰    78.29
王一璠    87.43
王浩波    83.08
付豪     79.77
李禹     90.93
吴佳睿    70.93
李樊鹏    80.54
孙泽     89.93
郭佳淇    67.58
刘舜尧    75.38
王璞     80.69
范鑫烽    77.46
王愉     83.64
向天琪    78.31
李彩云    89.86
夏钰     84.23
张唯一    85.85
刘洋     91.58
Name: 平均成绩, dtype: float64

In [13]:
a.sort_values(ascending=False)

姓名
蒯志炎    92.75
王梦瑶    92.62
徐瑾怡    92.46
徐洋     92.25
刘洋     91.58
张欣     91.54
李禹     90.93
陶泽林    90.07
孙泽     89.93
吕志     89.92
李彩云    89.86
黄利英    89.50
毛宇     89.00
王泽毅    88.83
陈圣卿    88.31
朱歆宇    88.14
陈亮     87.62
王一璠    87.43
喻洁     86.86
李媛     86.79
吴豪     86.43
徐梓涵    86.14
文鸿宇    85.93
张唯一    85.85
高琪     85.57
黄家鑫    85.50
曾冰雪    85.08
付明炀    85.07
曹军     85.00
夏钰     84.23
王颖欢    84.14
杜秋玥    84.07
夏格馨    83.79
王愉     83.64
王浩波    83.08
蔡泽宇    83.07
蔡博臣    82.93
管中放    81.14
孙聪     81.00
王璞     80.69
李泊宁    80.62
李樊鹏    80.54
张海洋    79.86
马紫阳    79.85
付豪     79.77
张谦     78.69
向天琪    78.31
范雪峰    78.29
王锐     77.92
陈孝澳    77.92
蔡俊宇    77.69
汪乐     77.57
范鑫烽    77.46
周正     75.79
刘舜尧    75.38
李睿     72.64
吴佳睿    70.93
李傲     69.46
郭佳淇    67.58
Name: 平均成绩, dtype: float64

In [17]:
f.sort_values(by=['平均成绩'],ascending=False)

      总成绩  科目数   平均成绩  是否挂科
姓名
蒯志炎  1113   12  92.75   NaN
王梦瑶  1204   13  92.62   NaN
徐瑾怡  1202   13  92.46   NaN
徐洋   1107   12  92.25   NaN
刘洋   1099   12  91.58   NaN
张欣   1190   13  91.54   NaN
李禹   1273   14  90.93   NaN
陶泽林  1261   14  90.07   NaN
孙泽   1259   14  89.93   NaN
吕志   1079   12  89.92   NaN
李彩云  1258   14  89.86   NaN
黄利英  1253   14  89.50   NaN
毛宇   1157   13  89.00   NaN
王泽毅  1066   12  88.83   NaN
陈圣卿  1148   13  88.31   NaN
朱歆宇  1234   14  88.14   NaN
陈亮   1139   13  87.62   NaN
王一璠  1224   14  87.43   NaN
喻洁   1216   14  86.86   NaN
李媛   1215   14  86.79   NaN
吴豪   1210   14  86.43   NaN
徐梓涵  1206   14  86.14   NaN
文鸿宇  1203   14  85.93   NaN
张唯一  1116   13  85.85   NaN
高琪   1198   14  85.57   NaN
黄家鑫  1197   14  85.50   NaN
曾冰雪  1106   13  85.08   NaN
付明炀  1191   14  85.07   NaN
曹军   1190   14  85.00   NaN
夏钰   1095   13  84.23   NaN
王颖欢  1178   14  84.14   NaN
杜秋玥  1177   14  84.07   NaN
夏格馨  1173   14  83.79   NaN
王愉   1171   14  83.64   NaN
王浩波  1080   13  83.08   NaN
蔡泽宇  1163   14  83.07   NaN
蔡博臣  1161   14  82.93   NaN
管中放  1136   14  81.14   NaN
孙聪   1053   13  81.00   NaN
王璞   1049   13  80.69   NaN
李泊宁  1048   13  80.62   NaN
李樊鹏  1047   13  80.54   NaN
张海洋  1118   14  79.86   NaN
马紫阳  1038   13  79.85   NaN
付豪   1037   13  79.77   NaN
张谦   1023   13  78.69   NaN
向天琪  1018   13  78.31   NaN
范雪峰  1096   14  78.29   NaN
王锐    935   12  77.92   NaN
陈孝澳  1013   13  77.92   NaN
蔡俊宇  1010   13  77.69   NaN
汪乐   1086   14  77.57   NaN
范鑫烽  1007   13  77.46   NaN
周正   1061   14  75.79   NaN
刘舜尧   980   13  75.38   NaN
李睿   1017   14  72.64   NaN
吴佳睿   993   14  70.93   NaN
李傲    903   13  69.46   NaN
郭佳淇   811   12  67.58   NaN